

.login-screen {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #232F3E, #131A22);
    justify-content: center;

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .login-card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 370px;
            background: #ffffff;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: height 0.3s ease-in-out;

          .header {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;

            .title {
                font-size: 24px;
                font-weight: 800;
            }
            .desc {
                font-size: 14px;
                color: gray;
            }
        
          } 
           
          .card-data {
            flex-direction: column;
            display: flex;
            margin-bottom: 25px;

            .enter-button {
                padding: 12px;
                background: #000000;
                color: #ffffff;
                border: none;
                border-radius: 6px;
                font-size: 14px;
                cursor: pointer;

                
            &:hover {
                background: #333333;
              }
            }

          } 
          .footer {
            width: 100%;          
        } }
    } 
} 