.tabs {
    justify-content: space-evenly;
    display: flex;
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    color: #000000;
    padding: 3px;
  
    .tab {
        flex: 1;
        padding: 8px 0;
        text-align: center;
        font-size: 14px;
        cursor: pointer;

      &:hover {
        background: #e0e0e0;
      }
  
      &.selected {
        background: #ffffff;
        transition: background 0.5s ease;
        border-radius: 6px;
}
      }
    }
  