.comments-container {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 8px;
  padding: 0px 4px;

  .comment {
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;

    .comment-data-with-profile {
      display: flex;
      gap: 10px;

      .comment-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        .text {
          opacity: 0.8;
        }
      }
    }
  }

  .no-comments {
    text-align: center;
    color: #aaa;
    font-size: 14px;
  }
}

.comment-profile-photo:hover {
  cursor: pointer;
}

.comments-container::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

.comments-container::-webkit-scrollbar-thumb {
  background: rgba(72, 71, 71, 0.239);
  border-radius: 3px;
}

.comments-container::-webkit-scrollbar-track {
  background: transparent;
}