.card-wrapper {
  height: 100%;

  width: 100%;
}

.post-contnet-container {
  height: 100%;
  width: 100%;

  .post-contnet {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

.location {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .location-name {
    font-weight: 700;
  }
  .location-icon {
    color: #8D77AB
  }
  
  .enable:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
  }
}



.comments-icons {
  color: #00879E
}

.edit-button {
  color: #5164C5
}

.delte-button {
  color: #D70654
}

.profile:hover {
  cursor: pointer;
}

.profile-photo {
  border-radius: 50%;
  border: 1px solid black;
  justify-self: flex-start;
}

.top-bar {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .sub-info {
    display: flex;
    flex-direction: column;
    gap: 3px
  }

  .right-side {
    display: flex;

    gap: 4px
  }

  p {
    margin: 0;
  }

  .sub-name {
    color: grey;
    opacity: 0.9;
  }

  .date {
    color: grey;
    opacity: 0.9;
    padding-top: 2%;
  }
}

.divider {
  width: 100%;
  margin-top: 10px;
}

.post-img-wrapper {
  position: relative;
  width: 100%;
  height: 60%;
  background-color: rgb(243, 244, 246, var(--tw-bg-opacity, 1));
  display: flex;
  justify-content: center;
  align-items: center;
}

.map{
  z-index: -1;
}

.like-animation {
  position: absolute;
  z-index: 4;
  // top: 50%;
  // left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: red;
  animation: heart-pop 1s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;

  .like-icon {
    font-size: 120px;
    color: 'red';
  }
}

.post-img {
  width: 100%;
  height: 100%;
  // object-fit: cover;
  /* Ensures the image fits within its container */

}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2%;

  .button {
    cursor: pointer;
  }

  .left-side {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    .liked-icon {
      color: red;
    }
  }

  .right-side {
    display: flex;
    gap: 5px;

    .button {
      height: 32px;
      cursor: pointer;
    }
  }
}