$nav-bar-height: 45px;
body {
  font-family:  'Heebo',sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  height: 100%;
  color: black;
}

.content {
  height: calc(100% - $nav-bar-height);
}

.whole-app {
  height: 100vh;
  
}

@keyframes heart-pop {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
  // 100% {
  //   transform: scale(1);
  //   opacity: 0;
  // }
}