$nav-bar-height: 45px;


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}


.content {
  height: calc(100% - $nav-bar-height);
}

.whole-app{
  height: 100vh;
}