.card-wrapper {
  height: 100%;
  
}

.card-contnet{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:2%;
  align-items: flex-start;
}

.card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;

  .header-left {
    display: flex;
    gap: 15px;

    .profile-img{
      border-radius: 50%;
    }

    .titles {
      display: flex;
      flex-direction: column;
      align-self: flex-end;


      .sub-text {
        margin-bottom: 0;
      }
    }

  }

  .header-right {
    display: flex;

    .edit-button {
      align-self: flex-end;
    }
  }


  .text {
    margin: 0;
  }

  .posts{
    display: flex;
    flex-direction: column;
  }


}