.card-wrapper {
  height: 100%;
 
  display: flex;
}

.card-contnet {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:20px;
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  position: relative;
  // top: -3%;
  z-index: 2;

  .header-left {
    display: flex;
    gap: 15px;

    .profile-img {
      border-radius: 50%;
      border: 5px solid white
    }

    .titles {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      padding-bottom: 20px;


      .sub-text {
        margin-bottom: 0;
        align-self: flex-start;
      }
    }

  }

  .header-right {
    display: flex;

    .edit-button {
      align-self: flex-end;
    }
  }


  .text {
    margin: 0;
  }

}

.posts-tab {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  .myposts{
    align-self: flex-start;
  }

}