.profile-component {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .img-wrapper {
    width: 68%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;

  }

  .cover-img {
    // object-fit: contain; /* Ensures the image fits within its container */

  }
}

.cover-img {
  width: 100%;
  height: 100%;
  min-width: 750px;
  background-color: rgb(234, 234, 234);

}

.user-wrapper{
  width: 68%;
  min-width: fit-content;
}