.profile-component {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .daniel {
    width: 100%;
    height: 30%;
  }
}

.cover-img {
  width: 100%;
  height: 100%;
  background-color: black;
}